body{
    background-color: darkturquoise;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid salmon;
    padding: 0 30px;
    text-align: center;
    height: 30px;
}
th{

    border: 1px solid salmon;
    padding: 0 30px;
    height: 30px;
}